@page "/"

@attribute [Authorize]
@inject IProjectsScreenUseCases ProjectsScreenUseCases

<h3>Projects</h3>
<br/>
@if (projects != null)
{
    <ul>
        @foreach (var project in projects)
        {        
            <li>
                <NavLink href="@($"/projects/{project.ProjectId}/tickets")">
                    @project.Name
                </NavLink>                
            </li>
        }
    </ul>
}

@code {
    IEnumerable<Project> projects;
    string token;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectsScreenUseCases.ViewProjectsAsync();
    }

}
